html {
    --DDbackground: #172F39;
    --DDSolid: #D9CBC2;
}

.gallery {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: initial;
}

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-nav {
    color: var(--DDSolid) !important;
    background-color: var(--DDbackground) !important;
}


/* zoom effect  */

.abc {
    /* width: 100%; */
    /* height: auto; */
    /* margin: 4% auto; */
    /* box-shadow: -3px 5px 15px #000; */
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.modal-img {
    width: 100%;
    height: auto;
    background-color: khaki;
}

.modal-body {
    padding: 0px !important;
    margin: 0px;
    border: 0px;
}

.color {
    background-color: var(--DDSolid);
    cursor: pointer;
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
    z-index: 100 !important;
}

.textBackground {
    background-color: #e0dfdf;
    padding: 20px;
    margin-top: 20px;
}